<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>frog gg noreact</title>
</head>
<body>
  {{info.name}} has: <br>
      ID: {{info.id}} <br>
      account: {{info.accountId}} <br>
      profile icon: {{info.profileIconId}} <br>
      level: {{info.summonerLevel}} <br>
      <hr>
  {{info.name}} ranked SOLO Q information: <br>
    inactive: {{info.inactive}} <br>
    rank: {{info.tier}} <br>
    tier: {{info.rank}} <br>
    wins: {{info.wins}} <br>
    losses: {{info.losses}} <br>
    veteran: {{info.veteran}} <br>
    fresh blood: {{info.freshBlood}} <br>
    hot streak: {{info.hotStreak}} <br>
</body>
</html>
