<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>frog gg noreact</title>
</head>
<body>
  {{info.name}} has: <br>
      ID: {{info.id}} <br>
      account: {{info.accountId}} <br>
      profile icon: {{info.profileIconId}} <br>
      level: {{info.summonerLevel}}
</body>
</html>
