<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>fr0g.gg</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    {{data.name}} <br>
        summoner level {{data.summonerLevel}} <br>
        <img src="http://opgg-static.akamaized.net/images/profile_icons/profileIcon{{data.profileIconId}}.jpg" class="profilePicture" alt="{{data.profileIconId}}"> <br>
        ID: {{data.id}} <br>
        account ID: {{data.accountId}} <br>
        <hr>
    {{data.name}} ranked solo data: <br>
      {{#if data.b}}
      <img src="http://opgg-static.akamaized.net/images/medals/bronze_1.png" alt="bronze_1"><br>
      {{/if}}
      {{#if data.s}}
      <img src="http://opgg-static.akamaized.net/images/medals/silver_1.png" alt="silver_1"> <br>
      {{/if}}
      {{#if data.g}}
      <img src="http://opgg-static.akamaized.net/images/medals/gold_1.png" alt="gold_1"> <br>
      {{/if}}
      {{#if data.p}}
      <img src="http://opgg-static.akamaized.net/images/medals/platinum_1.png" alt="platinum_1"> <br>
      {{/if}}
      {{#if data.d}}
      <img src="http://opgg-static.akamaized.net/images/medals/diamond_1.png" alt="diamond_1"> <br>
      {{/if}}
      {{#if data.m}}
      <img src="http://opgg-static.akamaized.net/images/medals/master_1.png" alt="master_1"> <br>
      {{/if}}
      {{#if data.c}}
      <img src="http://opgg-static.akamaized.net/images/medals/challenger_1.png" alt="challenger_1"> <br>
      {{/if}}
      rank: {{data.tier}} {{data.rank}} <br>
      wins: {{data.wins}} <br>
      losses: {{data.losses}} <br>
      <div class="rankedAttributes">
        {{#if data.veteran}}
        <img src="https://imgur.com/RcMucng.png" alt="VETERAN"> <br>
        {{/if}}
        {{#if data.recruit}}
        <img src="https://imgur.com/sG5gq9o.png" alt="RECRUIT"> <br>
        {{/if}}
        {{#if data.hotStreak}}
        <img src="https://imgur.com/mSJEVcP.png" alt="HOT_STREAK"> <br>
        {{/if}}
      </div>
  </div>
</body>
</html>
